= simple_form_for @work, remote: true do |f|
	= f.error_notification

	.form-inputs
		= f.input :name

	=f.hidden_field :group_id, :value => @group.id
	
	.actions
		= f.submit nil, :class => 'button tiny'

	#spinner.spinner
		= image_tag "ajax-loader.gif"
	#response