<h1>Listing nodes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Work</th>
      <th>Type</th>
      <th>Parent</th>
    </tr>
  </thead>

  <tbody>
    <% @work.nodes.each do |node| %>
      <tr>
        <td><%= node.title %></td>
        <td><%= node.category.name %></td>
        <td><%= node.work.name %></td>
        <td><%= node.type %></td>
        <% if node.parents.first != nil %>
          <td><%= node.parents.first.title %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>