<h1>Listing nodes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Work</th>
      <th>Type</th>
      <th>Parent</th>
    </tr>
  </thead>

  <tbody>
    <% @work.nodes.each do |node| %>
      <tr>
        <td><%= node.title %></td>
        <td><%= node.category.name %></td>
        <td><%= node.work.name %></td>
        <td><%= node.type %></td>
        <% if node.parents.first != nil %>
          <td><%= node.parents.first.title %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<style>

.chart rect {
  fill: #ff00ff;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

</style>
<svg class="chart"></svg>
<script src="http://d3js.org/d3.v3.min.js"></script>
<%= javascript_tag do %>

//var data = ["215", "216", "217", "218", "219"];
//var data = [{"id":"215"},{"id":"216"},{"id":"217"},{"id":"218"},{"id":"219"}];
var data = <%= raw(@nodes.to_json) %>
  document.write("</br>");
data.forEach(function(d) {
  d.id = +d.id;
  d.id = d.id-200;
 // document.write(d.id);
 // document.write("</br>");
});
var width = 420,
    barHeight = 20;

var x = d3.scale.linear()
    .domain([0, d3.max(data, function(d) { return d.id; })])
    .range([0, width]);

var chart = d3.select(".chart")
    .attr("width", width)
    .attr("height", barHeight * data.length);

var bar = chart.selectAll("g")
    .data(data)
  .enter().append("g")
    .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

bar.append("rect")
    .attr("width", function(d) { return x(d.id); })
    .attr("height", barHeight - 1);

bar.append("text")
    .attr("x", function(d) { return x(d.id) - 3; })
    .attr("y", barHeight / 2)
    .attr("dy", ".35em")
    .text(function(d) { return d.id; });

var test2 = d3.max(data, function(d) { return d.id; });
    document.write(test2);
<% end %>

<p><%= @nodes.to_json %></p>