<%= form_for @work, url: {action: "updatenotes"} do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Terminal</h2>

  <div class="field">
    <%= f.text_area :markup, size:"100x20", value: @work.generate_markup%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div>
  <h3>Categories</h3>
  <% @work.categories.each do |cat| %>
    <%= cat.name%>
  <% end %>
</div>

<p class = "test"></p> 
<div id="test_box"></div>