<%= form_for @work, url: {action: "updatenotes"} do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :markup %><br>
    <%= f.text_area :markup, size:"100x20"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<div>Non-editable text. Editable is below:</div>

<div id="test" contenteditable="true"></div>
<div id="caretPos"></div>