
<script>
  <input type="text" id="myInput">
  <script type="text/javascript">
      var myInput = document.getElementById("myInput");
      if(myInput.addEventListener ) {
          myInput.addEventListener('keydown',this.keyHandler,false);
      } else if(myInput.attachEvent ) {
          myInput.attachEvent('onkeydown',this.keyHandler); /* damn IE hack */
      }

      function keyHandler(e) {
          var TABKEY = 9;
          if(e.keyCode == TABKEY) {
              this.value += "    ";
              if(e.preventDefault) {
                  e.preventDefault();
              }
              return false;
          }
      }
</script>


<%= form_for @work, url: {action: "updatenotes"} do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :markup %><br>
    <%= f.text_area :markup, size:"100x20"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
