<%= form_for @work, url: {action: "updatenotes"} do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>Terminal</div>

  <div class="field">
    <%= f.label :markup %><br>
    <%= f.text_area :markup, size:"100x20", value: @work.generate_markup%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div id="test_box"></div>
<% end %>

<div id="editable" contenteditable="true"></div>



<p class = "test"></p> 
