.row.main
	.row#profile_header
		%h1 Profile: 
		%h2.subheader #{current_user.email}
	.row
		%dl.accordion{"data-accordion" => ""}
			-current_user.work_groups.each do |group|
				%dd
					%a{href: "#panel#{group.id}"}
						= group.name
						.test
					.content{id:"panel#{group.id}"}
						-group.works.each do |work|
							=link_to work.name, work_takenotes_path(work), {class:"work-button"}
			%dd
				%a{href: "#panel#new"} New!
						



	/	.row
	/		%dl.tabs.vertical{"data-tab" => ""}
	/			-current_user.work_groups.each do |group|
	/				%dd
	/					%a{href:"#panel#{group.id}"} Tab 1
	/			
	/		.tabs-content.vertical
	/			-current_user.work_groups.each do |group|
	/				.content{id:"panel#{group.id}"}
	/					%p= group.id
	/.row
	/	%dl.accordion{"data-accordion" => ""}
	/		-current_user.work_groups.each do |group|
	/			%dd
	/				%a{href: "#panel#{group.id}"}= group.name
	/				#panel1.content.active
	/					%dl.tabs{"data-tab" => ""}
	/						-group.works.each do |work|
	/							%dd
	/								%a{href: "#panel#{group.id}-#{work.id}"} #{work.name}
	/					.tabs-content
	/						-group.works.each do |work|
	/							.content{id:"panel#{group.id}-#{work.id}"}
	/								%p #{work.name}
