= simple_form_for @work_group, remote: true do |f|
	= f.error_notification

	.form-inputs
		= f.input :name

	=f.hidden_field :user_id, :value => current_user.id
	
	.actions
		= f.submit


	#spinner.spinner
		= image_tag "ajax-loader.gif"
	#response